#applications {
    background-color: hsl( 0, 0%, 20% ); /* Dev Notes: Equals #535353, which doesn't match the hex code
                                                         from the PSD.  HSL to HSB matches exactly. */
    font-size: 1.5em;
    text-align: center;
}

.figures {
    font-weight: bold;
    margin-top: 80px;
    justify-content: center;
}

.figures figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 125px;
}

figure img:hover {
    filter: brightness( 0% ) invert( 1 );
}
