/****
 Basic Elements
****/
* {
    box-sizing: border-box;
    font-family: 'Nunito Sans';
}

html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;

    font-size: 12px;
    font-weight: 400;
    
    color: hsl(200, 3.6%, 33.8%)
}

header ul,
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.33em;
}

h1 {
    font-weight: bold;
    font-size: 44px;
}

button,
button.btn {
    text-transform: uppercase;
    font-weight: 800;
    padding: 12px 40px;
}

/****
 Sections
****/
section {
    padding: 100px 0 150px 0;
    font-size: 1.33em;
}

#hero-banner {
    background-image: url( "../images/hero-banner.png" );
    background-size: cover;
}

#hero-banner h1 {
    font-size: 4em;
    font-weight: bold;
}

/****
 Specific Classes
****/
.btn-light {
    color: hsl( 154, 1.5%, 44.3% );
}

.btn-primary {
    background-color: hsl(78, 100%, 36%);
    border: 1px solid hsl(78, 100%, 36%);
}

.logo {
    margin: 22px 0;
}

.newsletter {
    font-size: 1.25em;
    font-weight: bold;
}

.row {
    justify-content: center;
}

/****
 Modifiers
****/
.text-inverse {
    color: white;
}

.text-light {
    font-weight: 300;
}