footer {
    background-color: white;
    padding: 45px 0 150px 0;
    color: hsl(215, 63.9%, 36.6%);
}

footer a,
footer a:visited {
    color: hsl(215, 63.9%, 36.6%);
}

footer ul a {
    display: block;
    padding: 10px;
}

.social {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

.social li a {
    padding: 8px;
}

.newsletter-subscribe {
    display: flex;
}

.newsletter-subscribe input {
    flex: 1;
    border: 1px solid hsl(0, 0%, 81%);
}

.newsletter-subscribe label {
    margin: 0 10px 0 0;
}

small {
    margin-top: 100px;
    font-size: 1em;
}

small a {
    margin: 0 15px;
}

.tugx-icon {
    margin-right: 16px;
    padding-left: 0;
}

footer ul .tugx-icon a {
    padding-left: 0;
}

.careers-icon {
    margin-left: 36px;
    padding-right: 0;
}

footer ul .careers-icon a {
    padding-right: 0;
}

footer small.row {
    justify-content: left;
}