header ul {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

#utility-bar {
    background-color: hsl( 221, 57.5%, 31.1% );
    background-image: linear-gradient( to right, hsl( 221, 57.5%, 31.1% ), hsl( 165, 52.7%, 45.2% ) );
    border-bottom: 1px solid hsla( 0, 0%, 100%, .26 );
    width: 100%;
    height: 32px;
    padding: 0;
    align-content: flex-end;
    font-size: .8em;
    line-height: 32px;
}

#utility-bar li a,
#utility-bar li a:visited {
    padding: 0 15px;
    display: block;
    color: white;
}

nav li {
    display: block;
}

nav a {
    display: block;
    height: 100%;
    line-height: 4em;
    padding: 0 15px;
    text-align: center;
}

nav a,
nav a:visited {
    color: hsl(221, 57.5%, 31.1%);
}

nav .mobile-menu {
    display: none;
}

@media( max-width:1000px ) {
    nav ul {
        display: none;
    }

    nav .mobile-menu {
        display: block;
    }
}