#invest {
    background-image: url( "../images/invest-background.png" );
    background-size: cover;
}

#invest .row {
    justify-content: left;
}

#invest figure {
    margin-top: 100px;
    font-size: 94px;
    font-weight: 900;
    text-shadow: 0 0 15px  hsla(0, 0%, 0%, .2);
    text-align: center;
}

#invest figcaption {
    font-size: 18px;
    text-align: center;
}

#invest small {
    font-weight: 400;
    font-size: 12px;
}